name: Main

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  lint:
    uses: ./.github/workflows/lint.yaml
  tests:
    needs: lint
    uses: ./.github/workflows/tests.yaml
  snyk:
      needs: [lint, tests]
      uses: ./.github/workflows/snyk.yaml
      secrets: inherit
  